
        <div class="c-hero">
            <div class="o-wrap">

                <div class="c-hero__zenboy">
                    <img src=<%= require("./img/hero/zenboy.svg") %> alt="zenboy">
                </div>

                <header class="o-header">
                    <h1>Problem z&nbsp;głowy,<br> gotówka do&nbsp;ręki!</h1>
                    <p>Udzielamy pożyczek pod zastaw domu, mieszkania i działek, skupujemy 
                        nieruchomości z problemami i nie tylko.</p>
                    
                    <div class="o-more">
                        <a href="#oferta" class="o-btn o-btn--green js-goto">Oferta</a>
                    </div>
                </header>                

                <div class="o-social">
                    <ul>
                        <li>
                            <a href="#">
                                <img src=<%= require("./img/social/facebook.svg") %> alt="facebook">
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <img src=<%= require("./img/social/instagram.svg") %> alt="instagram">
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <img src=<%= require("./img/social/linkedin.svg") %> alt="linkedin">
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <img src=<%= require("./img/social/youtube.svg") %> alt="youtube">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="o-circle"></div>
            </div>
<!--
            <div class="o-wrap">
                
            
            
            <img srcset="./img/hero/zen.png 1x, ./img/hero/zen@2x.png 2x"
            	 src="./img/hero/zen.png" alt="">
-->
        </div>
