
        <div class="c-steps anim anim--up">
            <div class="o-wrap">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <h3>Skup nieruchomości za&nbsp;gotówkę.</h3>
                    </div>
                    
                    <div class="o-cols__item">
                        <h2>Jak to działa?</h2>
                    </div>
                </div>
                
                <ol>
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/green-01.svg") %> alt="">
                            </div>

                            <figcaption>Wypełnij formularz kontaktowy <a href="#">TUTAJ</a>, napisz e-maila lub zadzwoń do nas. Konsultacja telefoniczna lub na WhatsApp jest całkowicie za darmo!</figcaption>
                        </figure>
                    </li>
                    
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/green-02.svg") %> alt="">
                            </div>

                            <figcaption>Oglądamy Twój lokal, a Ty wkrótce otrzymujesz jego wycenę.</figcaption>
                        </figure>
                    </li>
                    
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/green-03.svg") %> alt="">
                            </div>

                            <figcaption>Po nawiązaniu kontaktu daj nam jeszcze chwilę na załatwienie niezbędnych dokumentów.</figcaption>
                        </figure>
                    </li>
                    
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/green-04.svg") %> alt="">
                            </div>

                            <figcaption>Podpisujesz z nami umowę u&nbsp;notariusza.</figcaption>
                        </figure>
                    </li>
                    
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/green-05.svg") %> alt="">
                            </div>

                            <figcaption>Dostajesz pieniądze i&nbsp;robisz, co z nimi chcesz!</figcaption>
                        </figure>
                    </li>
                </ol>
                
                <div class="o-assets">
                    <img srcset="./img/steps/assets--green.png 1x, ./img/steps/assets--green@2x.png 2x"
                    	 src="./img/steps/assets--green.png" alt="">
                </div>
            </div>
        </div>
