
        <div class="c-steps  anim anim--up">
            <div class="o-wrap">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <h3>Jak wygląda współpraca z&nbsp;nami?</h3>
                    </div>
                    
                    <div class="o-cols__item">
                        <h2>To proste!</h2>
                    </div>
                </div>
                
                <ol>
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/blue-01.svg") %> alt="">
                            </div>

                            <figcaption>Wypełnij formularz kontaktowy <a href="#">TUTAJ</a>, napisz e-maila lub zadzwoń do nas. Konsultacja telefoniczna lub na WhatsApp jest całkowicie za darmo!</figcaption>
                        </figure>
                    </li>
                    
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/blue-02.svg") %> alt="">
                            </div>

                            <figcaption>Oglądamy Twoją nieruchomość, lub inną własność, którą chcesz wycenić.</figcaption>
                        </figure>
                    </li>
                    
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/blue-03.svg") %> alt="">
                            </div>

                            <figcaption>Po nawiązaniu kontaktu daj nam jeszcze chwilę na załatwienie niezbędnych dokumentów.</figcaption>
                        </figure>
                    </li>
                    
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/blue-04.svg") %> alt="">
                            </div>

                            <figcaption>Podpisujesz z nami umowę u&nbsp;notariusza.</figcaption>
                        </figure>
                    </li>
                    
                    <li class="anim anim--up">
                        <figure>
                            <div>
                                <img src=<%= require("./img/steps/blue-05.svg") %> alt="">
                            </div>

                            <figcaption>Dostajesz pieniądze i&nbsp;robisz, co z nimi chcesz!</figcaption>
                        </figure>
                    </li>
                </ol>
                
                <div class="o-assets">
                    <img srcset="./img/steps/assets--blue.png 1x, ./img/steps/assets--blue@2x.png 2x"
                    	 src="./img/steps/assets--blue.png" alt="">
                </div>
            </div>
        </div>
